@keyframes match {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes unmatch {
  0% {
    transform: translate(3px, 0); }
  25% {
    transform: translate(-3px, 0); }
  50% {
    transform: translate(3px, 0); }
  75% {
    transform: translate(-3px, 0); }
  100% {
    transform: translate(0, 0); } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

body {
  color: #7a7a7a;
  background-color: #f8f8f8;
  font-family: 'Poiret One', sans-serif; }

#app {
  padding: 20px; }

.loader {
  display: flex;
  justify-content: center;
  margin: 35vh 0; }

.menu_panel .menu_panel--title {
  font-family: 'Indie Flower', sans-serif;
  text-align: center;
  margin-bottom: 10px; }

.menu_panel .menu_panel--results {
  text-align: center;
  font-size: 1.2rem; }
  .menu_panel .menu_panel--results span {
    display: block; }
    @media screen and (min-width: 768px) {
      .menu_panel .menu_panel--results span {
        margin-right: 30px;
        display: inline; } }
  .menu_panel .menu_panel--results .menu_panel--new {
    font-weight: 600;
    cursor: pointer; }
    .menu_panel .menu_panel--results .menu_panel--new:hover {
      text-shadow: 1px 1px #737373; }

.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  max-width: 260px; }
  @media screen and (min-width: 768px) {
    .gameboard {
      max-width: 960px; } }
  .gameboard .gameboard_card {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #b6b6b6;
    border-radius: 5px; }
    @media screen and (min-width: 768px) {
      .gameboard .gameboard_card {
        width: 150px;
        height: 150px; } }
    .gameboard .gameboard_card:hover {
      box-shadow: 0px 0px 15px 2px #737373; }
  .gameboard .shoes {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -13px -8px; }
  .gameboard .goggles {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -62px -6px; }
  .gameboard .axe {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -112px -2px; }
  .gameboard .rope {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -162px -2px; }
  .gameboard .mountains {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -13px -59px; }
  .gameboard .carabiner {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -63px -51px; }
  .gameboard .map {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -112px -56px; }
  .gameboard .sign {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -162px -50px; }
  .gameboard .jacket {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -12px -109px; }
  .gameboard .compass {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -62px -105px; }
  .gameboard .gloves {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -113px -109px; }
  .gameboard .backpack {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -163px -104px; }
  .gameboard .gameboard_card--hide {
    background-image: url(../img/backcard.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -3px 14px; }
  @media screen and (min-width: 768px) {
    .gameboard .shoes {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -35px -20px; }
    .gameboard .goggles {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -186px -19px; }
    .gameboard .axe {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -339px -3px; }
    .gameboard .rope {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -488px -5px; }
    .gameboard .mountains {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -37px -178px; }
    .gameboard .carabiner {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -186px -155px; }
    .gameboard .map {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -338px -167px; }
    .gameboard .sign {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -490px -152px; }
    .gameboard .jacket {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -37px -327px; }
    .gameboard .compass {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -187px -315px; }
    .gameboard .gloves {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -338px -326px; }
    .gameboard .backpack {
      background-image: url(../img/memory.svg);
      background-repeat: no-repeat;
      background-size: 450%;
      background-position: -488px -312px; }
    .gameboard .gameboard_card--hide {
      background-image: url(../img/backcard.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: -10px 49px; }
    .gameboard .gameboard_card--disabled {
      pointer-events: none; }
    .gameboard .gameboard_card--match {
      animation: match 1s linear forwards; }
    .gameboard .gameboard_card--unmatch {
      animation: unmatch 0.5s linear forwards; } }

.game_finished {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 80%;
  margin: 10vh auto;
  padding: 40px;
  border-radius: 5px; }
  .game_finished .game_finished--header {
    font-family: 'Indie Flower', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1em;
    text-align: center; }
  .game_finished .game_finished--info {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1em; }
  .game_finished .game_finished--again {
    color: #ffffff;
    background-color: #737373;
    font-family: 'Poiret One', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 200px;
    height: 2em;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    display: block; }
    .game_finished .game_finished--again:hover {
      background-color: #b6b6b6; }
