* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; }

body {
  color: #7a7a7a;
  background-color: #f8f8f8;
  font-family: 'Poiret One', sans-serif; }

#app {
  padding: 20px; }

.loader {
  display: flex;
  justify-content: center;
  margin: 35vh 0; }

.menu_panel .menu_panel--title {
  font-family: 'Indie Flower';
  text-align: center;
  margin-bottom: 10px; }

.menu_panel .menu_panel--results {
  text-align: center;
  font-size: 1.2rem; }
  .menu_panel .menu_panel--results span:first-child {
    margin-right: 30px; }

.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  max-width: 960px; }
  .gameboard .gameboard_card {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px #b6b6b6;
    border-radius: 5px; }
    .gameboard .gameboard_card:hover {
      box-shadow: 0px 0px 15px 2px #737373; }
  .gameboard .shoes {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -35px -20px; }
  .gameboard .goggles {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -186px -19px; }
  .gameboard .axe {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -339px -3px; }
  .gameboard .rope {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -488px -5px; }
  .gameboard .mountains {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -37px -178px; }
  .gameboard .carabiner {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -186px -155px; }
  .gameboard .map {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -338px -167px; }
  .gameboard .sign {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -490px -152px; }
  .gameboard .jacket {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -37px -327px; }
  .gameboard .compass {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -187px -315px; }
  .gameboard .gloves {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -338px -326px; }
  .gameboard .backpack {
    background-image: url(../img/memory.svg);
    background-repeat: no-repeat;
    background-size: 450%;
    background-position: -488px -312px; }
  .gameboard .gameboard_card--hide {
    background-image: url(../img/backcard.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -10px 49px; }
