.gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  max-width: 260px;

  @media #{$bigdevice} {
    max-width: 960px;
  }

  .gameboard_card {
    width: 50px;
    height: 50px;
    background-color: $white-color;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px $lightgray-color;
    border-radius: 5px;

    @media #{$bigdevice} {
      width: 150px;
      height: 150px;
    }

    &:hover {
      box-shadow: 0px 0px 15px 2px $darkgray-color;
    }
  }

  .shoes {
    @include cards;
    background-position: -13px -8px;
  }

  .goggles {
    @include cards;
    background-position: -62px -6px;
  }

  .axe {
    @include cards;
    background-position: -112px -2px;
  }

  .rope {
    @include cards;
    background-position: -162px -2px;
  }

  .mountains {
    @include cards;
    background-position: -13px -59px;
  }

  .carabiner {
    @include cards;
    background-position: -63px -51px;
  }

  .map {
    @include cards;
    background-position: -112px -56px;
  }

  .sign {
    @include cards;
    background-position: -162px -50px;
  }

  .jacket {
    @include cards;
    background-position: -12px -109px;
  }

  .compass {
    @include cards;
    background-position: -62px -105px;
  }

  .gloves {
    @include cards;
    background-position: -113px -109px;
  }

  .backpack {
    @include cards;
    background-position: -163px -104px;
  }

  .gameboard_card--hide {
    @include cardHide;
    background-position: -3px 14px;
  }

  @media #{$bigdevice} {
    .shoes {
      @include cards;
      background-position: -35px -20px;
    }

    .goggles {
      @include cards;
      background-position: -186px -19px;
    }

    .axe {
      @include cards;
      background-position: -339px -3px;
    }

    .rope {
      @include cards;
      background-position: -488px -5px;
    }

    .mountains {
      @include cards;
      background-position: -37px -178px;
    }

    .carabiner {
      @include cards;
      background-position: -186px -155px;
    }

    .map {
      @include cards;
      background-position: -338px -167px;
    }

    .sign {
      @include cards;
      background-position: -490px -152px;
    }

    .jacket {
      @include cards;
      background-position: -37px -327px;
    }

    .compass {
      @include cards;
      background-position: -187px -315px;
    }

    .gloves {
      @include cards;
      background-position: -338px -326px;
    }

    .backpack {
      @include cards;
      background-position: -488px -312px;
    }

    .gameboard_card--hide {
      @include cardHide;
      background-position: -10px 49px;
    }

    .gameboard_card--disabled {
      pointer-events: none;
    }

    .gameboard_card--match {
      animation: match 1s linear forwards;
    }

    .gameboard_card--unmatch {
      animation: unmatch 0.5s linear forwards;
    }
  }
}